<div class="container">
  <div class="row">
    <div class="col-12 p-3 main-logo">
        <a href="" style="color:black !important">
            <h1 class="text-center m-0">TyreLess<span class="txt-green">.co.za</span></h1>
        </a>
        <h5 class="text-center sub-header">{{data.title}}</h5>
    </div>
  </div>
  <div class="partner-zone">
      <div class="row">
          <div class="col-12 col-header text-center">
            <h5 class="m-0">Manage Partner</h5>
          </div>
      </div>
      <div class="row admin-body p-3">
          <div class="col-2 p-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active show" id="v-pills-partner-tab" data-toggle="pill" href="#v-pills-partner" role="tab" aria-controls="v-pills-partner" aria-selected="false">
                <i class="fa fa-user"></i> Partner
              </a>
              <a class="nav-link" id="v-pills-deal-inputs-tab" data-toggle="pill" href="#v-pills-deal-inputs" role="tab" aria-controls="v-pills-deal-inputs" aria-selected="false">
                  <i class="fa fa-upload"></i> Deal Input
              </a>
              <a class="nav-link" id="v-pills-partner-deals-tab" data-toggle="pill" href="#v-pills-partner-deals" role="tab" aria-controls="v-pills-partner-deals" aria-selected="false">
                  <i class="fa fa-handshake-o"></i>
                  Partner Deals
              </a>
            </div>
          </div>
          <div class="col-10">
            <div class="tab-content p-3" id="v-pills-tabContent">
              <div class="tab-pane fade active show" id="v-pills-partner" role="tabpanel" aria-labelledby="v-pills-partner-tab">
                <p>Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur. Deserunt non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.</p>
              </div>
              <div class="tab-pane fade" id="v-pills-deal-inputs" role="tabpanel" aria-labelledby="v-pills-deal-inputs-tab">
                <p>Fugiat id quis dolor culpa eiusmod anim velit excepteur proident dolor aute qui magna. Ad proident laboris ullamco esse anim Lorem Lorem veniam quis Lorem irure occaecat velit nostrud magna nulla. Velit et et proident Lorem do ea tempor officia dolor. Reprehenderit Lorem aliquip labore est magna commodo est ea veniam consectetur.</p>
              </div>
              <div class="tab-pane fade" id="v-pills-partner-deals" role="tabpanel" aria-labelledby="v-pills-partner-deals-tab">
                <p>Eu dolore ea ullamco dolore Lorem id cupidatat excepteur reprehenderit consectetur elit id dolor proident in cupidatat officia. Voluptate excepteur commodo labore nisi cillum duis aliqua do. Aliqua amet qui mollit consectetur nulla mollit velit aliqua veniam nisi id do Lorem deserunt amet. Culpa ullamco sit adipisicing labore officia magna elit nisi in aute tempor commodo eiusmod.</p>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>