.col-header{
    background-color: grey;
    border: 1px solid grey;
    color:white;
    font-weight: bold;
    padding: 8pt;
}

.nav-link.active{
    background-color: rgb(107,172,70);
    color:white !important;
}

.main-logo > span{
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
  }
  .main-logo > span > h1{
    font-size: 32pt;
    font-weight: 800 !important;
  }
  .main-logo > span > h1 > .txt-green{
    font-size:32px;
  }
  .sub-header{
      font-style: italic;
  }

  .admin-body{
    font-size:10pt;
    background: white;
    border-left:1px solid grey;
    border-right:1px solid grey;
    border-bottom:1px solid grey;
}

.partner-zone{
    border-radius:2pt;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.6)
}

.table th{
    border-top: 1px solid dee2e6;
    vertical-align: middle;
}

#partnerTable{
    vertical-align: middle;
}

.nav-pills .nav-link{
    border-radius: 25pt;
}

#v-pills-tabContent{
border-left: 1px solid #dee2e6;
}

.form-control{
    font-size:inherit;
}

#myTabContent, #pzTabContent{
    border: 1px solid #dee2e6;
    border-radius: 0pt 5pt 5pt 5pt;
}

.nav-tabs{
    border:none;
}

.table-smaller{
    font-size: 9pt;
}

.table-smaller td, .table-smaller th{
    padding: .50rem;
    height: 28pt;
}

.delete-row{
    color:darkred;
    float: none;
}

.clickable-row{
    cursor: pointer;
}

td{
    vertical-align: middle !important;
}

.selected-row{
    background-color: rgba(107,172,70,0.9) !important;
    color: white;
    border: 1px solid grey !important;
}

.row-spinner{
    height: 24px;
    position: relative;
    top: -3px;
}

.suspend-icon{
    font-size:14pt;
    color:rgba(250, 168, 15, 0.7);
}
.suspend-icon:hover{
    color:rgba(255, 166, 0, 1);
}

.btn{
    font-size:inherit;
}

@media (min-width: 992px){
    .modal-lg {
        max-width:80% !important;
    }
}

.login-warning{
    font-style: italic;
    font-size:9pt;
    color:#ffc107;
  }